@font-face {
    font-family: IRANSans;
    src: url('../fonts/IRANSans/IRANSansWeb_Light.woff'),
        url('../fonts/IRANSans/IRANSansWeb_Light.woff') format('truetype');
    font-weight: normal;
}

* {
    margin: 0;
    font-family: IRANSans;
}


#researcher-form div.col-4{
    width: calc(33.33% - 2rem) !important;
    margin: auto;
}


#researcher-form div.col-5{
    width: calc(50% - 3rem) !important;
    margin: .3rem 1.5rem;
}
