@font-face {
    font-family: IRANSans;
    src: url('../fonts/Sahil//Sahel-Bold.eot'),
        url('../fonts/Sahil/Sahel-Bold.woff'),
        url('../fonts/Sahil/Sahel-Bold.ttf') format('truetype');
    font-weight: normal;
}

* {
    margin: 0;
    font-family: IRANSans;
}


#researcher-form div.col-4 {
    width: calc(33.33% - 2rem) !important;
    margin: auto;
}


#researcher-form div.col-5 {
    width: calc(50% - 3rem) !important;
    margin: .3rem 1.5rem;
}


#sidebar {
    position: relative;
}

#logout-form {
    position: absolute;
    right: -90px;
    top: -160px;
}


#not-found-page {
    width: 100vw;
    height: 100vh;
    background-color: #000;
    background-image: url('../images/p404.png');
    color: #fff;
}

#not-found-page #link{
    background-color: chartreuse;
}

#position-absolute{
    position: absolute;
    top: 7rem;
    left: 15rem;
    width: 15rem;
}

@media screen and (max-width: 576px) {

    #main-page-header,
    #logout-page-header div h5 {
        font-size: 1rem;
    }

    #register-header {
        font-size: 1rem;
    }

    #logout-form {
        position: absolute;
        right: -20px;
        top: 180px;
    }

    #main-page-links {
        display: block;
    }

}
